

/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* css variable */
:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', cursive;
    --primary-color: #3a2620;
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --highlight-color-light: #7a9fc2;
}

/* Global styles */
body {
    font-family: var(--primary-font);
    
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}


h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
   padding-top: 4rem;
}



a{
    text-decoration: none;
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color)
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header */
#header .lead {
    font-family: var(--secondary-font);

}

/* services */
#services .card-footer {
    background-color: transparent;
    color: var(--highlight-color);
    font-weight: bold;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* event */
.custom-bg-color{
    background-color: #416a8e;
}


/* Game library */
#new-games .card,
#fav-games .card {
    margin-bottom: 1.5rem;
    border: none;
}

#new-games .card-footer,
#fav-games .card-footer {
    border: none;
    background-color: transparent;
}

/* Footer / contact */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark *{
    background-color: transparent;
}




/* Media query */

/* Medium devices (tables, 768px and up) */
@media screen and (min-width: 768px) {

    /* make all service cards the same height for consistency */
    #services .card-body,
    #new-games .card-body,
    #fav-games .card-body {
        min-height: 214px;
        
    }

   
    
}

/* Medium devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

    /* make all service cards the same height for consistency */
    #services .card-body,
    #new-games .card-body,
    #fav-games .card-body {
        min-height: auto;
    }
}

/* Xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    /* make all service cards the same height for consistency */
    #services .card-body,
    #new-games .card-body,
    #fav-games .card-body {
        min-height: 220px;
        
    }
}

/* Xxl devices (large desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

    /* make all service cards the same height for consistency */
    #services .card-body,
    #new-games .card-body,
    #fav-games .card-body {
        min-height: 195px;
        
    }
}